<div class="container">
  <div class="row">
      <div class="col-12">
          <h2>Employee Timesheet</h2>
      </div>
  </div>
  <div class="clearfix">
      &nbsp;
  </div>
  <div class="row">
      <div class="col-2">
          <strong>Select Employee:</strong>
      </div>
      <div class="col-2">
          <select [(ngModel)]="currentEmployee" (change)="employeeOnChange()" style="width: 100%">
              <option *ngFor="let employee of employees" [ngValue]="employee.id">{{employee.name}}</option>
          </select>
      </div>
      <div class="col-8 text-right">
          <button class="btn btn-primary" (click)="addNewRecord()">Add new</button>
      </div>
  </div>
  <div class="clearfix">
          &nbsp;
      </div>
  <div class="row">
      <div class="col-2 text-left">
          <button class="btn btn-dark" title="Previous" (click)="changeWeek(currentWeek - 1)"><</button>
      </div>
      <div class="col-8 text-center font-weight-bold text-info">
              <h2>{{ currentMonthYear }}</h2>
      </div>
      <div class="col-2 text-right">
          <button class="btn btn-dark" title="Next" (click)="changeWeek(currentWeek + 1)">></button>
      </div>
  </div>
  <div class="clearfix">
      &nbsp;
  </div>
  <table class="table table-bordered">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Task Name</th>
              <th scope="col" class="text-center" *ngFor="let header of weekHeader">
                  {{ header.day }}
                  <br>
                  {{ header.date }}
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of employeetasks">
              <td style="vertical-align: middle">
                  <select [(ngModel)]="item.taskid">
                      <option *ngFor="let task of tasks" [ngValue]="task.id">{{task.name}}</option>
                  </select>
              </td>
              <td *ngFor="let number of [0,1,2,3,4,5,6]">
                  <input [disabled]="item.taskid == 0" type="text" class="form-control" name="day-{{number}}"
                      [(ngModel)]="item.days[number].hoursWorked" style="text-align: right">
              </td>
          </tr>
          <tr *ngIf="employeetasks.length > 0" class="table-secondary">
              <td style="text-align: right; font-weight: bold">Total</td>
              <td style="text-align: right; padding-right: 25px" *ngFor="let number of [0,1,2,3,4,5,6]">
                  {{ totalHours(number) }}
              </td>
          </tr>
          <tr *ngIf="employeetasks.length == 0" class="table-light">
              <td class="text-danger" style="text-align: center" colspan="8">
                  This week worksheet is not filled by the selected employee!
              </td>
          </tr>
      </tbody>
  </table>
  <div class="row">
      <div class="col-9">
          <span [class]="msg.isError ? 'text-danger' : 'text-success'">{{msg.message}}</span>
      </div>
      <div class="col-2 text-right">
          <a class="btn btn-secondary" [routerLink]="'/employees'">Back to list</a>
      </div>
      <div class="col-1 text-right">
          <button class="btn btn-success" (click)="saveTimesheet()">Save</button>
      </div>
  </div>
</div>